
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hexaware ID Card Generator</title>
  <!-- Compiled and minified CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> -->
  <link rel="stylesheet" href="js/cardify.css">
  <!-- Compiled and minified JavaScript -->

  <script>
      function printDiv() {

          setTimeout(function()
          {
              var toPrint = document.getElementById('printarea');

              var popupWin = window.open('', '_blank', 'width=550,height=550,location=no,left=200px');

              popupWin.document.open();

              popupWin.document.write('<html><title>::Preview::</title><link rel="stylesheet" type="text/css" href="print.css" /></head><body onload="window.print()">')

              popupWin.document.write(toPrint.innerHTML);

              popupWin.document.write('</html>');

              popupWin.document.close();
          },
          8000)
      }
  </script>
</head>

<body onLoad="printDiv()" id="printarea">

    <aside class="profile-card">
      <header>
        <!-- here’s the avatar -->

          <img src="<%= image %>" class="hoverZoomLink" style="height:100px; width: 100px; border:5px solid #e4e7ff; border-radius:50%">


        <!-- the username -->
        <h1><%= details.employeedetails[0].employeename%></h1>

        <!-- and role or location -->
        <h2>Emp ID : <%= details.employeeid %></h2>

      </header>

      <!-- bit of a bio; who are you? -->
      <div class="profile-bio">

        <!-- <p>
          It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
        </p> -->
        <table style="text-align:left;">
          <tr>
            <td><b>Phone<b></td>
            <td>&emsp;:&emsp;</td>
            <td><%= details.employeedetails[0].mobileno %></td>
          </tr>
          <tr>
            <td><b>Company</b></td>
            <td>&emsp;:&emsp;</td>
            <td>Hexaware</td>
          </tr>
          <tr>
            <td><b>Department</b></td>
            <td>&emsp;:&emsp;</td>
            <td><%= details.employeedetails[0].department %></td>
          </tr>
        </br>
          <tr>
            <td><b>Purpose</b></td>
            <td>&emsp;:&emsp;</td>
            <td>Temporary ID</td>
          </tr>
        </table>
      </div>
      <ul class="profile-social-links">
        <img src="images/logo.png" style="height:50px;">
      </ul>

    </aside>
    
  </body>

</html>
