
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hexaware ID Card Generator</title>
  <!-- Compiled and minified CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> -->
<link rel="stylesheet" href="js/cardify.css">
  <!-- Compiled and minified JavaScript -->


  <script>
      function printDiv(divName) {
          // document.getElementById('myForm').submit();
          var printContents = document.getElementById(divName).innerHTML;
          // var originalContents = document.body.innerHTML;
          // document.body.innerHTML = printContents;
          window.print();
          // document.body.innerHTML = originalContents;
      }

  </script>
  <!-- <script type="text/javascript">

        $(document).ready( function() {

          setTimeout(function()
          {
              printDiv('printMe')
          },
          8000)
        });
        </script> -->
</head>
<body>

    <aside class="profile-card">
      <header>
        <!-- here’s the avatar -->

          <img src="<%= image %>" class="hoverZoomLink" style="height:100px; width: 100px; border:5px solid #e4e7ff; border-radius:50%">


        <!-- the username -->
        <h1><%= details.employeedetails[0].employeename%></h1>

        <!-- and role or location -->
        <h2>Emp ID : <%= details.employeeid %></h2>

      </header>

      <!-- bit of a bio; who are you? -->
      <div class="profile-bio">

        <!-- <p>
          It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
        </p> -->
        <table style="text-align:left;">
          <!-- <input type="hidden" name="mobileno" value="<%= details.employeedetails[0].mobileno %>"/> -->
          <tr>
            <td><b>Phone<b></td>
            <td>&emsp;:&emsp;</td>
            <td><%= details.employeedetails[0].mobileno %></td>
          </tr>
          <tr>
            <!-- <input type="hidden" name="mobileno" value="<%= details.employeedetails[0].mobileno %>"/> -->
            <td><b>Company</b></td>
            <td>&emsp;:&emsp;</td>
            <td>Hexaware</td>
          </tr>
          <tr>
            <!-- <input type="hidden" name="department" value="<%= details.employeedetails[0].department %>"/> -->
            <td><b>Department</b></td>
            <td>&emsp;:&emsp;</td>
            <td><%= details.employeedetails[0].department %></td>
          </tr>
        </br>
          <tr>
            <td><b>To Meet</b></td>
            <td>&emsp;:&emsp;</td>
            <td><div contenteditable="true">Click to Edit</div></td>

          </tr>
          <tr>
            <td><b>Purpose</b></td>
            <td>&emsp;:&emsp;</td>
            <td>Temporary ID</td>
          </tr>
        </table>

      </div>
      <ul class="profile-social-links">
        <img src="images/logo.png" style="height:50px;">
      </ul>
      <!-- some social links to show off -->
        <!-- <button type="button" class="btn pmd-ripple-effect btn-primary"> Primary </button > -->
    </aside>
    <button type="button" class="btn pmd-ripple-effect btn-primary"> Primary </button >
    <!--Primary button with a ripple effect-->
    <!-- <button type="button" class="btn pmd-ripple-effect btn-primary"> Primary </button >
    <div class='printButton' style="background-color: rgba(26, 21, 21, 0.94);padding:2px">
        <button onclick="printDiv('printMe')"  style="background-color: rgba(60, 38, 0, 0.845);color:white">PRINT</button>
    </div> -->
  </body>

</html>
